MONGODB_DATABASE=mongodb+srv://meerayadav993961_db_user:Akash@raj552360@cluster0.3lgmfpp.mongodb.net/?appName=Cluster0
JWT_SECRET=nmms-development-secret-key-which-is-long-enough-for-hmac-256
JWT_EXPIRATION_MS=86400000
UPLOAD_DIR=uploads
MAIL_ENABLED=false
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=userakashinfo@gmail.com
SPRING_MAIL_PASSWORD=nhyhlaflmjiutevb
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true